# Виртуальные окружения
 venv/
 .venv/
 
 # IDE
 .idea/
 
 # Кеш Python и скомпилированные файлы
 __pycache__/
 *.py[cod]
 *.pyo
 *.pyd
 
 # Файлы переменных окружения
 .env
 .env.*
 
 # Версионируемые файлы бота
 # bot_*.py
 
 # Logs
 *.log
 logs/
 
 # Документация
 *.md
 README.md
 CHANGELOG.md
